@model IEnumerable<T1_Lerggios_Luis.Models.Distribuidor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container pt-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Lista de Distribuidores</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Distribuidor" asp-action="Crear" class="btn btn-primary">
                Nuevo distribuidor
            </a>
        </div>
    </div>

    <br />

    @if (Model != null && Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre Distribuidor</th>
                    <th>Razón Social</th>
                    <th>Teléfono</th>
                    <th>Año Inicio Operación</th>
                    <th>Contacto</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.NombreDistribuidor</td>
                        <td>@item.RazonSocial</td>
                        <td>@item.Telefono</td>
                        <td>@item.AnioInicioOperacion</td>
                        <td>@item.Contacto</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-controller="Distribuidor" asp-action="Editar" asp-route-id="@item.Id" class="btn btn-primary mx-2">
                                    Editar
                                </a>
                                <a asp-controller="Distribuidor" asp-action="Eliminar" asp-route-id="@item.Id" class="btn btn-danger mx-2">
                                    Eliminar
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No hay registros de Distribuidores</p>
    }
</div>